.cover {
	height:100%;
	background-color:#000;
	background:url("../images/about.jpg");
	background-position:center center;
	background-size: cover;
	overflow:hidden;
}

.cover .container {
	padding:0;
	margin:0;
	height:100%;
	width:100%;
}

.cover .container .row {
	position:absolute;
	bottom:2px;
	width:100%;
}

.cover .container .row .col-md-6{
	text-align: center;
}

.cover .container .row .col-md-6>h1{
	text-align: center;
	color:#fafafa;
	font-size:310%;
	opacity:0.9;
}

.cover .container .row .col-md-6>a{
	line-height:60%;
}

.cover .container .row .col-md-6>a:hover{
		color:#FF8000;
}

.btn {
	padding:0;
	color:#efefef;
	opacity:0.5;
}

.glyphicon {
	font-size: 250%;
}

.general {

	background-color:#fff;
}

.general .container .row {
	margin-top:100px;
	margin-bottom:100px;
}

.general .container .row .col-md-3>a{
	margin-top:60px;
	color:#FF8000;
	border-color:#FF8000;
	opacity: 1;
}

.general .container .row .col-md-3>a:hover {
	color:#FF8000;
	border-color:#FF8000;
}

.researcher {

	background-color:#efefef;
}

.researcher .container .row {
	margin-top:25px;
	margin-bottom:25px;
}

.researcher .container .row .col-md-4>img{
	width:100%;
}

.researcher .container .row .col-md-8>a{
	color:#FF8000;
	border-color:#FF8000;
	opacity: 1;
}

.researcher .container .row .col-md-4>a:hover{
	color:#FF8000;
	border-color:#FF8000;
}

.programmer {

	background-color:#fff;
}


.programmer  .container .row {
	margin-top:60px;
	margin-bottom:60px;
}

.programmer  .container .row .col-md-4>img {
	width:100%;
}

.designer {

	background-color:#cdad55;
}


.designer .container .row {
	margin-top:60px;
	margin-bottom:60px;
}


.designer .container .row .col-md-4>img {
	width:100%;
}

.designer .container .row .col-md-8>a{
	color:#FF8000;
	border-color:#FF8000;
	opacity: 1;
}

.designer .container .row .col-md-4>a:hover {
	color:#FF8000;
	border-color:#FF8000;
}

.artist {
	background-image:url("../images/art.jpg");
	background-position:center center;
	background-size: cover;
	height:480px;
	box-shadow: inset 0 0 20px rgba(0,0,0, 0.3);
	-webkit-box-shadow: inset 0 0 20px rgba(0,0,0, 0.3);
	-moz-box-shadow: inset 0 0 20px rgba(0,0,0, 0.3);
	-o-box-shadow: inset 0 0 20px rgba(0,0,0, 0.3);
}


.artist .container .row {
	margin-top:60px;
	position: relative;
}

.artist .container .row .col-md-5>h2 {
	color:#fff;
}

.artist .container .row .col-md-5>p {
	color:#fff;
}

.artist .container .row .col-md-5 .btn-default{
	background-color:transparent;
}

.artist .container .row .col-md-5>a{
	color:#FFf;
	border-color:#FFf;
	opacity: 1;
}

.artist .container .row .col-md-5>a:hover {
	color:#cecece;
	border-color:#cecece;
}