.title{
	color:#FF8000;
}

p{
	color:#2E2E2E;
}

.text>p>a{
	color:#2E2E2E;
	font-style:italic;
}

p>a{
	color:#2E2E2E;
	font-style:italic;
}


a:hover{
	color:#424242;
	text-decoration: none;
}


.col-md-4 {
	padding:15px;
}


.text {
	margin-top:30px;
}

.cover {
	height: 550px;
	background-image:url("../images/publication.jpg");
	background-position:center center;
	background-size: cover;
}

.cover .container>h2{
	position: absolute; 
	top:50px;
	color:rgba(255,255,255,0.6);
}

.expo {
	background-color:#FAFAFA;
}

.expo .row {
	margin-top:30px;
	margin-bottom:30px;
}

.poster {
	background-color:#ffffff;
}

.poster .row {
	margin-top:30px;
	margin-bottom:30px;
}

.preview>img{
  width:95%;

}

.paper {
	background-color:#efefef;	
}

